@CHARSET "UTF-8";
body,html
{
	background: url(../images/1.png) repeat!important;
	padding-top: 60px;
	padding-bottom: 40px;
}

div.container
{
	width:300px;
}

/* button.login
{
	width:200px;
	height: 50px;
} */